<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="instinctools.android"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DescriptionActivity"
            android:label="@string/title_activity_description"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AuthActivity"
            android:label="@string/title_activity_auth"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="github"
                    android:path="/oauth"
                    android:scheme="application" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ProfileActivity"
            android:label=""
            android:theme="@style/AppTheme.Profile" />
        <activity
            android:name=".activity.IntroductionsActivity"
            android:label="@string/title_activity_introductions"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.MyRepositoriesActivity"
            android:label="@string/title_my_repositories"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.WatchRepositoriesActivity"
            android:label="@string/title_watch_repositories"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.StarRepositoriesActivity"
            android:label="@string/title_star_repos"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme" />

        <receiver android:name=".broadcasts.OnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcasts.OnAlarmReceiver"
            android:process=":remote" />

        <service android:name=".services.HttpRunAllService" />
        <service android:name=".services.HttpUpdateMyRepositoriesService" />
        <service android:name=".services.HttpUpdateWatchRepositoriesService" />
        <service android:name=".services.HttpUpdateStarsRepositoriesService" />

        <provider
            android:name=".database.providers.RepositoriesProvider"
            android:authorities="instinctools.android.providers.Repositories"
            android:exported="false" />
        <provider
            android:name=".database.providers.RepositoriesOwnerProvider"
            android:authorities="instinctools.android.providers.RepositoriesOwner"
            android:exported="false" />
    </application>

</manifest>